/* solarized naming scheme */
/* see: https://ethanschoonover.com/solarized/ */

// background and content tones:
// TONE USE    :             // DARK MODE             | LIGHT MODE
$sol-base03    : #002b36;  // background            | -
$sol-base02    : #073642;  // background highlights | -
$sol-base01    : #586e75;  // comments              | opt. emph. content
$sol-base00    : #657b83;  // -                     | primary content
$sol-base0     : #839496;  // primary content       | -
$sol-base1     : #93a1a1;  // opt. emph. content    | comments
$sol-base2     : #eee8d5;  // -                     | background highlights
$sol-base3     : #fdf6e3;  // -                     | background
// accent colors:
$sol-yellow    : #b58900;
$sol-orange    : #cb4b16;
$sol-red       : #dc322f;
$sol-magenta   : #d33682;
$sol-violet    : #6c71c4;
$sol-blue      : #268bd2;
$sol-cyan      : #2aa198;
$sol-green     : #859900;
// Note that for tones, the normal relationship for background and body text
// is `base03:base0` for dark mode and `base3:base00` for light mode.
// Notice the "flipping" of leading 0?

/* Consider the following style guidelines.
 * Source: https://github.com/chriskempson/base16/blob/main/styling.md#styling-guidelines
 *
 * * base00 - Default Background
 * * base01 - Lighter Background (Used for status bars, line number and folding marks)
 * * base02 - Selection Background
 * * base03 - Comments, Invisibles, Line Highlighting
 * * base04 - Dark Foreground (Used for status bars)
 * * base05 - Default Foreground, Caret, Delimiters, Operators
 * * base06 - Light Foreground (Not often used)
 * * base07 - Light Background (Not often used)
 * * base08 - Variables, XML Tags, Markup Link Text, Markup Lists, Diff Deleted
 * * base09 - Integers, Boolean, Constants, XML Attributes, Markup Link Url
 * * base0A - Classes, Markup Bold, Search Text Background
 * * base0B - Strings, Inherited Class, Markup Code, Diff Inserted
 * * base0C - Support, Regular Expressions, Escape Characters, Markup Quotes
 * * base0D - Functions, Methods, Attribute IDs, Headings
 * * base0E - Keywords, Storage, Selector, Markup Italic, Diff Changed
 * * base0F - Deprecated, Opening/Closing Embedded Language Tags, e.g. <?php ?>
 */

/* NOTE: minimal-mistakes uses roughly the following color assignments for
 *       syntax highlighting in code blocks:
 *       (see: _sass/minimal-mistakes/_syntax.scss)
 * $base00: (highlight background)
 * $base01: (unused)
 * $base02: (unused)
 * $base03: (unused)
 * $base04: comment, doc, (line numbers)
 * $base05: name, punctuation, builtin, entity, label, property, (highlight)
 * $base06: background
 * $base07: (unused)
 * $base08: error, exception, generic, constant, variable
 * $base09: literal, number
 * $base0a: type, class, namespace
 * $base0b: date, string, regex, symbol
 * $base0c: operator, namespace, decorator, tag
 * $base0d: attribute, function
 * $base0e: keyword
 * $base0f: (unused)
 */

 // ----------------------------------------------------------------------------

 // Considering all that, the Minimal Mistakes color scheme for
 // DARK solarized is:
$base00: $sol-base02;  // background highlights
$base01: $sol-base01;  // -
$base02: $sol-base1;   // optional emphasized content
$base03: $sol-base0;   // primary content
$base04: $sol-base01;  // comments / secondary content
$base05: $sol-base1;   // optional emphasized content
$base06: $sol-base03;  // background
$base07: $sol-base02;  // background highlights
$base08: $sol-red;
$base09: $sol-orange;
$base0a: $sol-yellow;
$base0b: $sol-green;
$base0c: $sol-cyan;
$base0d: $sol-blue;
$base0e: $sol-violet;
$base0f: $sol-magenta;

// The rest of colors customizations below

/* ==========================================================================
   Air skin: Solarized
   ========================================================================== */

/* Colors */
$background-color: $sol-base3;
$text-color: $sol-base00;
$muted-text-color: $sol-base1;
$primary-color: $sol-blue;
$border-color: $sol-base1;
$footer-background-color: $primary-color !default;
$link-color: $sol-cyan;
$masthead-link-color: $text-color !default;
$masthead-link-color-hover: $text-color !default;
$navicon-link-color-hover: mix(#fff, $text-color, 80%) !default;

.page__footer {
  color: $sol-base3 !important; // override
}

.page__footer-follow .social-icons .svg-inline--fa {
  color: inherit;
}

/* ==========================================================================
   More color customizations
   ========================================================================== */

$code-background-color: $sol-base2;
$code-background-color-dark: $sol-base02;

$success-color: $sol-cyan;
$warning-color: $sol-orange;
$danger-color: $sol-red;
$info-color: $sol-green;
$focus-color: $primary-color !default;
$active-color: mix(#fff, $primary-color, 80%) !default;
