// Identical to minimal-mistakes original except for -2px to all `font-size`s.
html {
   /* apply a natural box layout model to all elements */
   box-sizing: border-box;
   background-color: $background-color;
   font-size: 14px;

   @include breakpoint($medium) {
     font-size: 16px;
   }

   @include breakpoint($large) {
     font-size: 18px;
   }

   @include breakpoint($x-large) {
     font-size: 20px;
   }

   -webkit-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
 }
