---
search: false
---

@charset "utf-8";

/*--- theme customizations ---*/
$doc-font-size: 14;

@use "colors/solarized" as *;
@use "fonts/nerd_fonts" as *;
@use "fonts/google_fonts" as *;
/*--- end theme customizations ---*/

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/*--- custom style resets ---*/
@import "reset";
/*--- end custom style resets ---*/

/*--- material web customizations ---*/
:root {
  --md-ref-typeface-brand: $global-font-family;
  --md-ref-typeface-plain: $global-font-family;
}
/*--- end material web customizations ---*/

/*--- misc custom styling ---*/
kbd {
  background-color: #f3f4f6;
  border-radius: 0.25rem;
  padding: 0.15rem 0.4rem;
  border: 1px solid lightgray;
  font-size: 0.8rem;
}

a {
  &:link, &:visited {
    text-decoration: none;
  }
}
/*--- end misc custom styling ---*/
